:root {
    --primary-color: #000000;
    --second-color: #686868b0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px var(--second-color);
}

::selection {
    color: white;
    background: var(--second-color);
}

* {
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--general-color) var(--second-color);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Trebuchet MS", sans-serif;
}