#weather-container {
    background: url("../images/background.jpg"); /* https://www.pexels.com/photo/scenic-view-of-landscape-against-sky-325139/ */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

input.search {
    background: rgba(255, 255, 255, 0.8);
}

div.alert-weather {
    background: rgba(251, 138, 138, 0.8);
    border: 1px solid rgba(250, 95, 95, 0.8);
    width: 80%;
    margin: 0 auto;
}